In [26]:
#imports
import pandas as pd

In [39]:
#import + read csv file
data = pd.read_csv("..\data\matches.csv")
data.head()

,match_id,summoner_name,champion,role,win,kills,deaths,assists
0,EUW1_7189126563,Raphouillll,Kennen,TOP,True,3,2,1
1,EUW1_7189126563,BaconsGladstone,Nocturne,JUNGLE,True,8,1,4
2,EUW1_7189126563,Tyty56330,Ahri,MIDDLE,True,5,0,6
3,EUW1_7189126563,NaN,Smolder,BOTTOM,True,2,1,3
4,EUW1_7189126563,LucianoSavastano,Gragas,UTILITY,True,1,0,3

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_id       100 non-null    object
 1   summoner_name  84 non-null     object
 2   champion       100 non-null    object
 3   role           58 non-null     object
 4   win            100 non-null    bool
 5   kills          100 non-null    int64
 6   deaths         100 non-null    int64
 7   assists        100 non-null    int64
dtypes: bool(1), int64(3), object(4)
memory usage: 5.7+ KB

In [41]:
#handling missing values
print(data.isnull().sum())

match_id          0
summoner_name    16
champion          0
role             42
win               0
kills             0
deaths            0
assists           0
dtype: int64

In [42]:
data = data.sort_values(by=["match_id"])

In [43]:
# Assign a team column based on the index within each match_id group
data['team'] = data.groupby('match_id').cumcount() // 5 + 1

In [44]:
data

,match_id,summoner_name,champion,role,win,kills,deaths,assists,team
99,EUW1_7182180649,Pixie Dust,Lulu,NaN,False,3,9,32,1
90,EUW1_7182180649,CanaHee,Malzahar,NaN,True,12,7,25,1
91,EUW1_7182180649,BoucleRebel,KogMaw,NaN,True,10,7,29,1
92,EUW1_7182180649,ABocquet,Kennen,NaN,True,14,7,30,1
93,EUW1_7182180649,WonderMeuf,Blitzcrank,NaN,True,3,12,16,1
...,...,...,...,...,...,...,...,...,...
4,EUW1_7189126563,LucianoSavastano,Gragas,UTILITY,True,1,0,3,2
3,EUW1_7189126563,NaN,Smolder,BOTTOM,True,2,1,3,2
2,EUW1_7189126563,Tyty56330,Ahri,MIDDLE,True,5,0,6,2
1,EUW1_7189126563,BaconsGladstone,Nocturne,JUNGLE,True,8,1,4,2
0,EUW1_7189126563,Raphouillll,Kennen,TOP,True,3,2,1,2

In [47]:
#data imputation
data['summoner_name']=data['summoner_name'].fillna('summoner x')
data = data.dropna(subset=['role'])

In [48]:
data

,match_id,summoner_name,champion,role,win,kills,deaths,assists,team
70,EUW1_7182832101,kekevFRF,Garen,TOP,True,4,0,0,1
72,EUW1_7182832101,mrt100,Galio,MIDDLE,True,2,1,2,1
73,EUW1_7182832101,KypaneTv,Ezreal,BOTTOM,True,5,1,1,1
71,EUW1_7182832101,Kermitdotexe,Hecarim,JUNGLE,True,1,0,3,1
74,EUW1_7182832101,Delulu Nay,Seraphine,UTILITY,True,2,0,3,1
76,EUW1_7182832101,summoner x,Ivern,JUNGLE,False,0,4,0,2
77,EUW1_7182832101,Apoille,Yone,MIDDLE,False,1,1,0,2
78,EUW1_7182832101,summoner x,Jhin,BOTTOM,False,1,4,0,2
79,EUW1_7182832101,Hoborymm,Milio,UTILITY,False,0,2,1,2
75,EUW1_7182832101,summoner x,Illaoi,TOP,False,0,3,0,2
59,EUW1_7182968265,summoner x,Lux,UTILITY,True,0,0,0,1
57,EUW1_7182968265,Bobo Fleure,Hwei,MIDDLE,True,0,0,0,1
56,EUW1_7182968265,AquaSquirrelll,Warwick,JUNGLE,True,0,0,0,1
55,EUW1_7182968265,Kayzend21,Kayle,TOP,True,0,0,0,1
54,EUW1_7182968265,yone is girlypop,Janna,UTILITY,False,0,0,0,2
53,EUW1_7182968265,Delulu Nay,Caitlyn,BOTTOM,False,0,0,0,2
52,EUW1_7182968265,Dietz Nuts,Nidalee,MIDDLE,False,0,0,0,2
51,EUW1_7182968265,alvaroarufe,Zac,JUNGLE,False,0,0,0,2
49,EUW1_7182993484,Heolyss,Poppy,UTILITY,False,5,11,15,1
47,EUW1_7182993484,NieWiemCyce,Katarina,MIDDLE,False,12,6,3,1
46,EUW1_7182993484,summoner x,Volibear,JUNGLE,False,8,9,5,1
45,EUW1_7182993484,SabrilleParIci,Heimerdinger,TOP,False,2,18,7,1
44,EUW1_7182993484,kisaaameee,Yuumi,UTILITY,True,1,5,32,1
43,EUW1_7182993484,Delulu Nay,MissFortune,BOTTOM,True,10,11,9,2
42,EUW1_7182993484,Dietz Nuts,Viktor,MIDDLE,True,9,8,19,2
41,EUW1_7182993484,Zuckerauto,Nasus,JUNGLE,True,4,0,3,2
40,EUW1_7182993484,Shadowfire02,Galio,TOP,True,26,8,16,2
48,EUW1_7182993484,MoriartyLawliet,Ezreal,BOTTOM,False,5,6,10,2
30,EUW1_7183385240,KyloBen2403,Chogath,TOP,False,2,3,1,1
31,EUW1_7183385240,ShookNasty,Shaco,JUNGLE,False,0,3,1,1
32,EUW1_7183385240,sebastinoma20,Warwick,MIDDLE,False,2,8,0,1
33,EUW1_7183385240,Delulu Nay,Caitlyn,BOTTOM,False,4,0,2,1
36,EUW1_7183385240,CHA0ZKiLlEr,Jax,JUNGLE,True,4,2,4,1
35,EUW1_7183385240,summoner x,Mordekaiser,TOP,True,5,3,3,2
37,EUW1_7183385240,summoner x,Ahri,MIDDLE,True,5,1,3,2
38,EUW1_7183385240,RedDraGon330,MissFortune,BOTTOM,True,1,2,2,2
39,EUW1_7183385240,Tractopeleteuse,Leona,UTILITY,True,0,1,2,2
34,EUW1_7183385240,ScottBaio,Alistar,UTILITY,False,1,1,4,2
20,EUW1_7184516358,jojo18112004,Trundle,TOP,True,8,3,3,1
21,EUW1_7184516358,KongoKönig11,Volibear,JUNGLE,True,9,4,6,1
22,EUW1_7184516358,Playszer,Katarina,MIDDLE,True,7,5,7,1
24,EUW1_7184516358,Yuj1 N1sh1da,Rell,UTILITY,True,0,7,8,1
23,EUW1_7184516358,Delulu Nay,Kaisa,BOTTOM,True,3,3,4,1
26,EUW1_7184516358,summoner x,MasterYi,JUNGLE,False,5,9,4,2
27,EUW1_7184516358,Azel4,Lulu,MIDDLE,False,6,3,6,2
28,EUW1_7184516358,summoner x,Swain,BOTTOM,False,6,6,6,2
29,EUW1_7184516358,summoner x,Thresh,UTILITY,False,3,4,9,2
25,EUW1_7184516358,summoner x,Ornn,TOP,False,2,5,2,2
9,EUW1_7189126563,summoner x,Lux,UTILITY,False,1,5,0,1
8,EUW1_7189126563,Delulu Nay,Kaisa,BOTTOM,False,0,1,0,1
7,EUW1_7189126563,aphroditexs,Akali,MIDDLE,False,0,3,1,1
6,EUW1_7189126563,Etago1,Volibear,JUNGLE,False,0,5,2,1
5,EUW1_7189126563,summoner x,Briar,TOP,False,3,5,0,1
4,EUW1_7189126563,LucianoSavastano,Gragas,UTILITY,True,1,0,3,2
3,EUW1_7189126563,summoner x,Smolder,BOTTOM,True,2,1,3,2
2,EUW1_7189126563,Tyty56330,Ahri,MIDDLE,True,5,0,6,2
1,EUW1_7189126563,BaconsGladstone,Nocturne,JUNGLE,True,8,1,4,2
0,EUW1_7189126563,Raphouillll,Kennen,TOP,True,3,2,1,2

In [49]:
#replacing utility with support cuz what the fuck is utility?
data['role'] = data['role'].replace('UTILITY', 'SUPPORT')

C:\Users\tebib\AppData\Local\Temp\ipykernel_11492\3148165138.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['role'] = data['role'].replace('UTILITY', 'SUPPORT')

In [50]:
#verification
data.isnull().sum()

match_id         0
summoner_name    0
champion         0
role             0
win              0
kills            0
deaths           0
assists          0
team             0
dtype: int64

In [51]:
data.head()

,match_id,summoner_name,champion,role,win,kills,deaths,assists,team
70,EUW1_7182832101,kekevFRF,Garen,TOP,True,4,0,0,1
72,EUW1_7182832101,mrt100,Galio,MIDDLE,True,2,1,2,1
73,EUW1_7182832101,KypaneTv,Ezreal,BOTTOM,True,5,1,1,1
71,EUW1_7182832101,Kermitdotexe,Hecarim,JUNGLE,True,1,0,3,1
74,EUW1_7182832101,Delulu Nay,Seraphine,SUPPORT,True,2,0,3,1

In [52]:
#converting boolean into int
data['win'] = data['win'].astype(int)  # Convert to 0/1 if needed

C:\Users\tebib\AppData\Local\Temp\ipykernel_11492\2238521738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['win'] = data['win'].astype(int)  # Convert to 0/1 if needed

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 70 to 0
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_id       58 non-null     object
 1   summoner_name  58 non-null     object
 2   champion       58 non-null     object
 3   role           58 non-null     object
 4   win            58 non-null     int64
 5   kills          58 non-null     int64
 6   deaths         58 non-null     int64
 7   assists        58 non-null     int64
 8   team           58 non-null     int64
dtypes: int64(5), object(4)
memory usage: 4.5+ KB

In [23]:
data

,match_id,summoner_name,champion,role,win,kills,deaths,assists
0,EUW1_7189126563,Raphouillll,Kennen,TOP,1,3,2,1
1,EUW1_7189126563,BaconsGladstone,Nocturne,JUNGLE,1,8,1,4
2,EUW1_7189126563,Tyty56330,Ahri,MIDDLE,1,5,0,6
3,EUW1_7189126563,summoner x,Smolder,BOTTOM,1,2,1,3
4,EUW1_7189126563,LucianoSavastano,Gragas,UTILITY,1,1,0,3
...,...,...,...,...,...,...,...,...
95,EUW1_7182180649,SweetRishii,Pyke,role x,0,9,18,7
96,EUW1_7182180649,IRicardoI,Lucian,role x,0,7,10,13
97,EUW1_7182180649,kusairo,Jayce,role x,0,13,15,17
98,EUW1_7182180649,Delulu Nay,Lux,role x,0,10,6,20
99,EUW1_7182180649,Pixie Dust,Lulu,role x,0,3,9,32

In [ ]:
#exporting processed data
data.to_csv("..\data\processed_data.csv", index=False)